h1 {
    color: blue;

    text-align: center;
  }
h2 {
    color: #77210F;
    font-style: italic;
    text-align: center;
 }
 p {
  font-family: sans-se sans-serif;
}
ul {
   line-height: 40px;
 }
 .intro {
       font-style: italic;
     }
 .author {
    color: red;
  }
  p.author {
    font-size: 12px;
  }
  .important {
    color:red;
  }
  .unimportant {
    color: blue
  }
  .cat-climate {
     background-color: <div class="column">;
  }
  img {
  float: left;
}
img {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 40%
}
img {
float: left;
}
.sidebar {
  width: 40%;
  float: right;

}
.column {
  width: 450px;
  float: left;
}
.test-box{
  border-left: 2px solid red;
  border-right: 4px solid blue;
  border-top: 6px solid orange;
  border-bottom: 8px solid-black;
}
.test {
  border: 2px solid red;
  padding: 6px
  margin: 20px;
  background-color: yellow;
}
